.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #9da0a0;
}

.login-box {
  background-color: rgb(246, 248, 248);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  font-family: "Segoe UI", sans-serif;
}

.login-box h3 {
  margin-bottom: 30px;
  color: #2370b8;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #3875b3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button:hover {
  background-color: #0b5764;
}

.login-box p {
  text-align: center;
  margin-top: 10px;
  color: red;
}
